<div class="btn-group dropdown">
    <button id="bottonNotifications" type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa-fw"></i>Notifications (0)</button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
        <li>
            <div class="slimScrollDiv" style="position: relative; max-height: 250px;overflow-y: auto; ">
                <table id="tableNotification" class="table slimScrollDiv" >

                    <tbody id="tbodyNotification">
                        <tr >
                            <td class="quantity"><img src="" alt="" class="img-notification"> </td>
                            <td class="product"><a href=""></a><span class="small"></span></td>
                            <td class="amount"></td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="panel-body text-right">	
                <a href="" class="btn btn-group btn-default btn-sm">View All Notifications</a>                       
            </div>
        </li>
    </ul> 
</div>