{% extends 'head_Template.html.twig' %}

{% block color %}
    <link href="{{asset('bundles/hub/css/skins/orange.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- body classes: 
                    "boxed": boxed layout mode e.g. <body class="boxed">
                    "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> 
    -->
    <body class="no-trans">

        <!-- background image -->


        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="  col-md-8 col-md-offset-2">
                            <div class="object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                                <div class="center-block">
                                    <h2 class="title">Professional Sign Up</h2>
                                    <hr>

                                    <form class="form-horizontal" role="form" method="post" action="{{path('hub_signup_professional2')}}">
                                        <div class="form-group has-feedback">
                                            <label for="inputAge"data-animation-effect="fadeInLeft" data-effect-delay="100" class="col-sm-3 control-label">Age <span class="text-danger small">*</span></label>
                                            <div class="col-sm-8" data-animation-effect="fadeInRight" data-effect-delay="100">
                                                <input type="text"  style="border-color: #f99d30" class="form-control" name="age" id="age" placeholder="Age" required>
                                                <i class="fa fa-pencil form-control-feedback" style="color: #f99d30 "></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="inputSex" data-animation-effect="fadeInLeft" data-effect-delay="150"class="col-sm-3 control-label">Sex <span class="text-danger small">*</span></label>
                                            <div class="col-sm-8" data-animation-effect="fadeInRight" data-effect-delay="150">												
                                                <select style="border-color: #f99d30" class="form-control" id="inputSex" name="sex" placeholder="Sex" required>
                                                    <option>F</option>
                                                    <option>M</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="inputPersonalPhone"data-animation-effect="fadeInLeft" data-effect-delay="200" class="col-sm-3 control-label">Personal Phone <span class="text-danger small">*</span></label>
                                            <div class="col-sm-8"data-animation-effect="fadeInRight" data-effect-delay="200">
                                                <input type="tel"style="border-color: #f99d30" class="form-control" id="inputPersonalPhone" name="personalphone" placeholder="Phone" required>
                                                <i class="fa fa-phone form-control-feedback"style="color: #f99d30 "></i>
                                            </div>
                                        </div>  
                                        <div class="form-group has-feedback">
                                            <label for="inputWorkPhone"data-animation-effect="fadeInLeft" data-effect-delay="250" class="col-sm-3 control-label">Work Phone <span class="text-danger small"> </span></label>
                                            <div class="col-sm-8"data-animation-effect="fadeInRight" data-effect-delay="250">
                                                <input type="tel"style="border-color: #f99d30" class="form-control" id="inputWorkPhone"  name="workphone"  placeholder="Phone">
                                                <i class="fa fa-phone form-control-feedback"style="color: #f99d30 "></i>
                                            </div>
                                        </div> 
                                        <div class="form-group has-feedback">
                                            <label for="inputOtherPhone" data-animation-effect="fadeInLeft" data-effect-delay="300" class="col-sm-3 control-label">Other Phone <span class="text-danger small"> </span></label>
                                            <div class="col-sm-8"data-animation-effect="fadeInRight" data-effect-delay="300">
                                                <input type="tel"style="border-color: #f99d30" class="form-control" id="inputOtherPhone"  name="otherphone"  placeholder="Phone">
                                                <i class="fa fa-phone form-control-feedback"style="color: #f99d30 "></i>
                                            </div>
                                        </div> 
                                        <div class="form-group has-feedback">
                                            <label for="webSiteName"data-animation-effect="fadeInLeft" data-effect-delay="350" class="col-sm-3 control-label">Web Site <span class="text-danger small"></span></label>
                                            <div class="col-sm-8"data-animation-effect="fadeInRight" data-effect-delay="350">
                                                <input type="text" style="border-color: #f99d30"class="form-control" id="webSiteName"  name="website"  placeholder="Web Site" >
                                                <i class="fa fa-firefox form-control-feedback"style="color: #f99d30 "></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-8">
                                                <button type="submit" class="btn btn-default">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- main end -->

                    </div>
                </div>

            </section>
            <!-- main-container end -->

        </div>
        <!-- page-wrapper end -->
    </body>
{% endblock %}
